<!-- components/sidebar.html -->


<aside id="sidebar"> 
  <nav> 
    <img src="assets/xi.jpeg" alt="Foto pessoal">
    <p>Thauan Stanziola</p>
    <a href="index.html">🏠 Início</a>
    <a href="colegios.html">📚 Colégios</a>
    <a href="horarios_de_aulas.html">📅 Horário de Aulas</a>
    <a href="contato.html">☎️ Contato</a>
    <a href="instituto_federal.html">🏫 Instituto Federal</a>
    <a href="formacao_academica.html">🔬 Formação Acadêmica</a>
    <a href="hobbies.html">🎮 Hobbies</a>
    <a href="sites_favoritos.html">💻 Sites Favoritos</a>
    <a href="http://www.ricardoramosdeoliveira.com.br/" target="_blank">Ricardo</a>
  </nav>
</aside>

<button id="menu-toggle">→</button>
